.scroll-down-window::-webkit-scrollbar {
    width:  1.5vh;
  }
  
  .scroll-down-window::-webkit-scrollbar-thumb {
    background: #1c2541;
    border-radius:  .5vh;
    border-color: #5bc0be;
    border-style: groove;
  }
  
  .scroll-down-window::-webkit-scrollbar-track {
    background: #5bc0be;
    border-radius: .7vh;
    height: 20px;
    box-shadow: inset .2vw .2vw .6vw rgba(0, 0, 0, 0.466);
  }
  
  .scroll-down-window::-webkit-scrollbar-thumb:hover {
    background: #1c254186;
  }